<li class='col-xs-3 gallery'>

    
    <%= link_to shirt do %>
    	<div class="shirt-container">
    		<span class="frame"><span></span></span>
      	<%= image_tag shirt.image_url, class: 'img-responsive'%>
      </div>
      <div class="shirt-heading">
      <%= truncate shirt.name, length: 30 %>
    </div>
    <% end %>
    
    
</li>
