<main>
	<h1>Shirts</h1>
	  <section class='row'>
	    <%= render @shirts %>
	  </section>
	<nav class="views">
	  <% if logged_in? %>
	    <%= link_to "Create a new shirt",  new_shirt_path %>
	  <% end %>
	</nav>
</main>
