<h1>Shirts</h1>
<% if logged_in? %>
  <%= link_to "Create a new shirt",  new_shirt_path %>
<% end %>
  <section class='row'>
    <%= render @shirts %>
  </section>
  <!-- <%= render partial: 'shirt', collection: @shirts %>
  <% @shirts.each do |shirt| %>
    <%= render 'shirt', {shirt: shirt} %>
  <% end %> -->
