// COLORS
 $beige: #D5C7B0;
 $red: #C03E1B;
 $vivid-red: #E5471B;
 $gray: #7a7a74;

//Mixins
@mixin shadow( $hv:3px, $vv:4px, $bv:5px) {
	-webkit-box-shadow: $hv $vv $bv rgba(0,0,0, 0.7);
	-moz-box-shadow: $hv $vv $bv rgba(0,0,0, 0.7);
	box-shadow: $hv $vv $bv rgba(0,0,0, 0.7);
}
@mixin txt-shadow() {
	text-shadow: 0 2px 3px rgba(0,0,0,0.7);
}

@mixin transition($prop:all, $time:0.8s) {
  transition: $prop $time; 
}
@mixin screen($opa:0.8) {
  background-color: rgba(0,0,0,$opa); 
}
//Fonts
// @font-face {
//     font-family: 'boycottregular';
//     src: url('BOYCOTT_-webfont.eot');
//     src: url('BOYCOTT_-webfont.eot?#iefix') format('embedded-opentype'),
//          url('BOYCOTT_-webfont.woff') format('woff'),
//          url('BOYCOTT_-webfont.ttf') format('truetype'),
//          url('BOYCOTT_-webfont.svg#boycottregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//   font-family: 'district';
//   src: url('district-webfont.eot');
//   src: url('district-webfont.eot?#iefix') format('embedded-opentype'),
//   		url('district-webfont.ttf') format('truetype'),
//       url('district-webfont.woff') format('woff'),
//       url('district-webfont.svg#webfont') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
//
body {
	background: #000 url('bgd_dark.jpg') no-repeat center top;
	background-size: cover;
	color: $gray;
	font-family: "District",'Special Elite', cursive;
	font-size: 18px;
}
//headers
h1 {
	// font-family: 'boycottregular';
	color: $beige;
	font-family: 'District','Special Elite', cursive;
}
h2 {
	// font-family: 'district';
	color: $vivid-red;
	font-family: 'boycottregular','Special Elite', cursive;
}
//links
a, a:link, a:visited, a:hover {
	color: $red;
}
a:hover {
	color: $vivid-red;
	text-decoration: none;
}
//lists
ul {
	list-style-type: none;
}
//*********************
//HEADER
//*********************

header {
	width: 87%;
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	margin: 30px auto;
	@include screen(0.5);
	@include shadow(10px, 10px, 7px);
	text-align: center;
	h1 {
		font-size: 7rem;
	}
	h2 {
		margin-top: -20px;
		letter-spacing: 15px;
	}
	nav {
		width: 50%;
		margin: 5px auto;
	}
	ul {
		overflow: hidden;
	}
	li {
		width: 50%;
		text-align: center;
		float: left;
		padding: 0px 20px;
		color: $red;
		&:first-child {
			border-right: 2px solid $red;
		}
	}
}//header
#home {
	.full-container {
		position: relative;
	}
	#banner {
		position: absolute;
		top: 10%;
		left: 30%;
		width:40%;
		padding: 20px;
		text-align: center;
		@include screen(0.5);

	}
	h1 {
		font-size: 10rem;
	}
}


