//===========================
// COLORS
//===========================
	 $beige: #D5C7B0;
	 $red: #C03E1B;
	 $vivid-red: #E5471B;
	 $gray: #7a7a74;

//===========================
// MIXINS
//===========================
	@mixin shadow( $hv:3px, $vv:4px, $bv:5px) {
		-webkit-box-shadow: $hv $vv $bv rgba(0,0,0, 0.7);
		-moz-box-shadow: $hv $vv $bv rgba(0,0,0, 0.7);
		box-shadow: $hv $vv $bv rgba(0,0,0, 0.7);
	}
	@mixin txt-shadow() {
		text-shadow: 0 2px 3px rgba(0,0,0,0.7);
	}
	@mixin transition($prop:all, $time:0.8s) {
	  transition: $prop $time; 
	}
	@mixin screen($opa:0.8) {
	  background-color: rgba(0,0,0,$opa); 
	}
	@mixin transf-rot($deg:-0.7deg){
	-ms-transform: rotate($deg); /* IE 9 */
	    -webkit-transform: rotate($deg); /* Safari */
	    transform: rotate($deg);
	}

//===========================
// GENERAL
//===========================
body {
	background: #000 url('bgd_dark.jpg') repeat-y center top;
	background-size: 100%;
	color: $gray;
	font-family: 'districtregular','Special Elite', cursive;
	font-size: 18px;
}
//headers
//===========================
h1 {
	color: $beige;
	text-shadow: 4px 2px 0px rgba(75, 75, 75, 0.7);
}
h2 {
	color: $vivid-red;
	text-shadow: 3px 2px 0px rgba(75, 75, 75, 0.7);
}
//links & buttons
//===========================
a, a:link, a:visited, a:hover, .redbtn {
	color: $red;
}
a:hover {
	color: $vivid-red;
	text-decoration: none;
}
.views a, .redbtn {
	display: block;
	padding: 5px 20px;
	height: 30px;
	background-color: rgba(0,0,0,0.7);
	border: 2px;
	border-image: url("redframe.png") 10 repeat stretch;
		outline: 6px solid rgba(0,0,0,0.5);
}//views a

// LISTS & NAVS
//===========================
ul {
	list-style-type: none;
}
nav {
	ul {
		overflow: hidden;
	}
	li {		
		float: left;
		padding: 0px 20px;
		color: $red;	
	}
}
nav.user {
	margin: 0px;
	background-color: rgba(0,0,0,0.2);
	padding: 25px 0px 5px;
	ul{
		width: 500px;
		margin: 0px auto;
	}
	li {
		text-align: center;
		@include transf-rot(-0.7deg);
		&:first-child {
			border-right: 2px solid $vivid-red;
			@include transf-rot();
		}
	}
}

//===========================
.fcontainer {
	overflow: hidden;
}
.fade-in {
	opacity: 1;
	@include transition();
}
.fade-out {
	opacity: 0;
	@include transition();
}
.slide-in {

}
.slide-out {
	position: absolute;
	@include transition();
}

//===========================
//HEADER
//===========================
header {
	width: 100%;
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	margin: 30px auto;
	@include screen(0.5);
	@include shadow(10px, 10px, 7px);
	text-align: center;
	h1 {
		font-size: 7rem;
	}
	h2 {
		margin-top: -20px;
		letter-spacing: 15px;
	}
}//header
//===========================
// HOME
//===========================
#home {
	//height: 3000px;
	h1 {
		font-size: 10rem;
		text-shadow: 5px 2px 0px rgba(75, 75, 75, 0.7);
	}//h1
	h2, .main {
		@include transf-rot(-0.7deg);
		text-shadow: 5px 2px 0px rgba(75, 75, 75, 0.7);
	}//h2
	nav.views {
		font-size: 5rem;
		text-align: center;
	}
	main nav.views {
		margin-top: 20%;
		margin-bottom: 20%;
		.redbtn { 
			width: 500px;
			height: 70px;
			margin: 0px auto;
		}
	} 
	nav.footer {
		position: absolute;
		bottom: 0%;
		width: 100%;
		padding-bottom: 100px;
		a {
			width: 500px;
			height: 70px;
			margin: 20px auto 100px;
			font-size: 4rem;
		}
	}
	.all-content {
		display: none;
		overflow: hidden;
	}
}//home

.banner {
		width: 100%;
		padding: 20px;
		margin-top: 0px;
		margin-bottom: 20px;
		text-align: center;
		border-image: url("redframe.png") 10 0 10 0 repeat stretch;
		outline: 6px solid rgba(0,0,0,0.5);
		@include screen(0.5);
		@include shadow();
		@include transition();
		&.skewed {
			-moz-transform: skew(-90deg, 0deg);
			-webkit-transform: skew(-90deg, 0deg);
			-o-transform: skew(-90deg, 0deg);
			-ms-transform: skew(-90deg, 0deg);
			transform: skew(-90deg, 0deg);
			@include transition();
		}
	}//banner
//===========================
// MAIN
//===========================
main {
	position: relative;
	height: 100%;
	min-height: 100%;
	nav.views {
		z-index: 100;
	}
	// .gallery-container {
	// 	position: absolute;
	// 	top: 150px;
	// 	opacity: 1;
	// 	margin-bottom: 50px;
	// 	transition: all, 1s
	// }
	// .slide-out {
	// 	position: absolute;
	// 	top: -1000%;
	// 	opacity: 0;
	// 	transition: all, 1s;
	// }
}//main

//===========================
// SHIRT CONTAINER
//===========================
#shirt {
	overflow: hidden;
	margin: 30px auto;
	.views {
		margin-top: 40px;
		li {
			margin-bottom: 30px;
			&:first-child {
				@include transf-rot(-0.7deg)
			}
			&:nth-child(2) {
				float: right;
			}
		}
		 a {
			display: block;
			font-size: 3rem;
			height: 40px;
		}
	}
}
.shirt-container {
	position: relative;
	overflow: hidden;
	.frame {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 100;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		border: 18px;
		border-image: url("frame400.png") 15 repeat stretch;
		span {
			display: block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			-webkit-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
			box-shadow:         inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
		}
	}
	img {
		position: relative;
		max-width: 94%;
		margin: 10px;
	}
	.frame {
		width: 95%;
		margin: 0px 10px;
	}
}
.shirt-heading {
	overflow: hidden;
	height: 125px;
	padding: 15px 10px 5px;
	text-align: center;
	font-size: 3rem;
	@include transf-rot(-1deg);
	@include transition();
	&:hover {
		color: $vivid-red;
		@include transition();
	}
}
.gallery {
	&:nth-child(3n){
		.shirt-heading {
			@include transf-rot(-0.7deg);
		}
	}
	&:nth-child(3n){
		.shirt-heading {
			@include transf-rot(1.3deg);
		}
	}

	&:nth-child(5n){
		.shirt-heading {
			@include transf-rot(1.7deg);
		}
	}
}//gallery

//===========================
// RECOMMENDATIONS
//===========================
#addCollection {
	&.slide-out {	
		left: -300%;
	}
}
#recommendations {
	height: 100%;
	min-height: 300px;
	margin-top: 50px;
	overflow: hidden;
	@include transition();
	// &.fade-out {
	// 	height: 0;
	// 	@include transition();
	// }
	ul {
		position: relative;
		overflow: hidden;
	}
	li {
		position: relative;
		right: 0px;
		@include transition();
		&.slide-out {
			right: -9999px;
			@include transition();
		}
		img {
			width: 93%;
		}
	}
}
.new-rc {
	display: none;
}
//===========================
// FOOTER
//===========================
footer{
	height: 200px;
}
//===========================
// PARALLAX
//===========================
.gallery-container {
	width: 100%;
	height: 100%;
}
.gallery-list {
	position: relative;
	margin-top: 100px;
	height: 100%;
	//min-height
}
.gallery-list .element {
	position: absolute;
	left: -300%;
	top: 0;
	width: 23%;
	&:first-child {
		left: 2%;
	}
	&:nth-child(2n){
		left: 25%;
	}
	&:nth-child(3n){
		left: 50%;
	}
	&:nth-child(4n){
		left: 75%;
	}
	&:nth-child(5n){
		top: 55%;
		left: 2%;
	}
	&:nth-child(6n){
		top: 55%;
		left: 25%;
	}
	&:nth-child(7n){
		top: 55%;
		left: 50%;
	}
	&:nth-child(8n){
		top: 55%;
		left: 75%;
	}
	&:nth-child(9n){
		top: 110%;
		left: 2%;
	}
	&:nth-child(10n){
		top: 110%;
		left: 25%;
	}
	&:nth-child(11n){
		top: 110%;
		left: 50%;
	}
	&:nth-child(12n){
		top: 110%;
		left: 75%;
	}
	&:nth-child(13n){
		top: 165%;
		left: 2%;
	}
	&:nth-child(14n){
		top: 165%;
		left: 25%;
	}
	&:nth-child(15n){
		top: 165%;
		left: 50%;
	}
	&:nth-child(16n){
		top: 165%;
		left: 75%;
	}
	&:nth-child(17n){
		top: 220%;
		left: 2%;
	}
	&:nth-child(18n){
		top: 220%;
		left: 25%;
	}
	&:nth-child(19n){
		top: 220%;
		left: 50%;
	}
	&:nth-child(20n){
		top: 220%;
		left: 75%;
	}
	&:nth-child(21n){
		top: 275%;
		left: 2%;
	}
	&:nth-child(22n){
		top: 275%;
		left: 25%;
	}
	&:nth-child(23n){
		top: 275%;
		left: 50%;
	}
	&:nth-child(24n){
		top: 275%;
		left: 75%;
	}
	&:nth-child(25n){
		top: 330%;
		left: 2%;
	}
	&:nth-child(26n){
		top: 330%;
		left: 25%;
	}
	&:nth-child(27n){
		top: 330%;
		left: 50%;
	}
	&:nth-child(28n){
		top: 330%;
		left: 75%;
	}
	&:nth-child(29n){
		top: 385%;
		left: 2%;
	}
	&:nth-child(30n){
		top: 385%;
		left: 25%;
	}
	&:nth-child(31n){
		top: 385%;
		left: 50%;
	}
	&:nth-child(32n){
		top: 385%;
		left: 75%;
	}
	&:nth-child(33n){
		top: 440%;
		left: 2%;
	}
}
//===========================
//intro
//===========================
.intro {
	width: 100%;
	min-height: 100%;
	padding: 20% 100px;
}
//===========================
//glitch
//===========================

.glitch {
  position: relative;
	font-size: 6rem;
		width: 70%;
		height: 20%;
		margin: 0px auto;

}

@-webkit-keyframes glitch-anim {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(10)+px, 9999px, random(10)+px, 0);
    }
  }
}
@-moz-keyframes glitch-anim {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150)+px, 9999px, random(150)+px, 0);
    }
  }
}
@-o-keyframes glitch-anim {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150)+px, 9999px, random(150)+px, 0);
    }
  }
}
@keyframes glitch-anim {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150)+px, 9999px, random(150)+px, 0);
    }
  }
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  top:0;
  left:10px;
  text-shadow:-4px 0 red;
  color: $red;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  -webkit-animation: glitch-anim 2s infinite linear alternate-reverse;
   -o-animation: glitch-anim 2s infinite linear alternate-reverse;
   animation: glitch-anim 2s infinite linear alternate-reverse; 
  
  
}
@-webkit-keyframes glitch-anim-2 {
  $steps:7;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(150)+px,9999px,random(150)+px,0);
    }
  }
}
@-moz-keyframes glitch-anim-2 {
  $steps:7;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(150)+px,9999px,random(150)+px,0);
    }
  }
}
@-o-keyframes glitch-anim-2 {
  $steps:7;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(150)+px,9999px,random(150)+px,0);
    }
  }
}
@keyframes glitch-anim-2 {
  $steps:7;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(150)+px,9999px,random(150)+px,0);
    }
  }
}



.glitch:before{
  content:attr(data-text);
  position:absolute;
  top:0;
  left:-10px;
  text-shadow:4px 0 blue; 
  color: $red;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  -webkit-animation: glitch-anim-2 2s infinite linear alternate-reverse;
   -o-animation: glitch-anim-2 2s infinite linear alternate-reverse;
   animation: glitch-anim-2 2s infinite linear alternate-reverse;
} 
  
  



